.cart {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__items {
    flex-grow: 1;
    max-width: 786px;
    margin-bottom: 24px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    span {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
  }

  &__dummy {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888888;
    font-size: 32px;
  }

  &__buttons {
    margin-top: 24px;
    button {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__order {
    margin-left: 32px;
  }
}