.selector {
  width: 288px;
  height: 38px;

  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0 12px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
  cursor: pointer;
}