@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.App {
  text-align: center;
  font-family: Montserrat, sans-serif;

  &__wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 28px;
  }

  .button {
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }

    &_type {
      &_outline {
        border: 1px solid #000000;
        background-color: transparent;
      }
      &_default {
        border: none;
        background: #000000;
        color: #FFFFFF;
      }
    }

    &_size {
      &_medium {
        padding: 10px 32px;
        font-size: 14px;
        line-height: 17px;
      }
      &_large {
        padding: 10px 64px;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
